<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarMatch - Consulta Vehicular</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>🔍 CarMatch - Consulta de Datos</h1>
        <form id="consultaForm">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" required placeholder="Ej. 75169855">

            <label for="ruc">RUC (opcional):</label>
            <input type="text" id="ruc" name="ruc" placeholder="Ej. 20462509236">

            <button type="submit">Consultar</button>
        </form>


        <div id="resultado"></div>
    </div>

    <script src="/static/script.js"></script>
</body>

</html>